body{
  background-color: #222;
  color: #ededed;
}

header{
  text-align: center;
}


.thumbnails{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1;
}

.hidden.thumbnails{
  display: hidden;
}

.thumbnail{
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
	margin-top: 10px;
}

.hidden{
  display: none;
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 180ms linear;
}

.modal .slide{
  display: none;
  text-align: center;
}

.modal .slide.shown{
  display: block;
}

